n8n-workflow.json
{
  "name": "Claude Bridge Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3457/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.body.message, sessionId: $json.body.sessionId }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request-node",
      "name": "Call Claude Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response, backend: $json.backend, sessionId: $json.sessionId }) }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Call Claude Bridge", "type": "main", "index": 0 }]
      ]
    },
    "Call Claude Bridge": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
